@charset "UTF-8";
/* CSS Porfolio */

html{
    scroll-behavior: smooth;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #EFB85D;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  #myBtn2 {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #EFB85D;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
  }

  #myBtn2 a{
      text-decoration: none;
      color: white;
  }
  
  #myBtn2:hover {
    background-color: #555;
  }

/*banner*/

.banner {
  background-image: url("../img/bannerprofolio.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 750px;
  display: flex;
  justify-content: space-between;
}

.navi {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.navi li {
  display: block;
}

.navi li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    text-align: center;
}

.navi li a:hover{
	color:#EFB85D;
}

.logomxh a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
}

.logomxh a:hover{
	color:#EFB85D;
}

.logomxh{
    width: 300px; 
    text-align: right; 
    margin-top: 40px;
}

.logo{
    width: 300px; 
    margin-top: 30px;
	text-align: center;
}

.logo a img{
	width: 50px;
}

.navi-xs{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 1002;
}

.navi-xs li{
    display: block;
}
.navi-xs li a{
    width: 90px;
    display: block;
    padding-bottom: 20px;
    color: white;
    text-decoration: none;
	text-align: left;
}

#blackscreen{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0);
	position: fixed;
	z-index: 1001;
}

/*bgabout*/

.bgabout{
	background-image: url("../img/aboutbg.jpg");
	background-repeat: none;
	background-position: center;
	background-size: cover;
    padding-top: 80px;
	padding-bottom: 20px;
	height: auto;
}

.resumebg{
	background-image: url("../img/bgresume.jpg");
	background-repeat: none;
	background-position: center;
	background-size: cover;
    padding-top: 40px;
	padding-bottom: 20px;
	height: auto;
}

.bgmywork{
	background-image: url("../img/workbg.jpg");
	background-repeat: none;
	background-position: center;
	background-size: cover;
    padding-top: 80px;
	padding-bottom: 20px;
	height: auto;
}

.sloganbanner{
    padding-left: 0px;
    padding-right: 0px;
    background-image: url("../img/sloganbg.jpg");
	background-repeat: none;
	background-position: center;
    background-size: cover;
    height: 350px;

}

.sloganbanneren{
    padding-left: 0px;
    padding-right: 0px;
    background-image: url("../img/sloganbgen.jpg");
	background-repeat: none;
	background-position: center;
    background-size: cover;
    height: 350px;

}

.contactmebanner{
    background-image: url("../img/bgcontact.png");
	background-repeat: none;
	background-position: center;
    background-size: cover;
    height: auto;
}



.hinhanhabout{
	background-image: url("../img/iamTam.jpg");
	background-repeat: none;
	background-position: center;
	background-size: cover;
	height: 359px;
}

.hinhanhaboutvn{
	background-image: url("../img/iamTam.jpg");
	background-repeat: none;
	background-position: center;
	background-size: cover;
	height: 399px;
}

.joblist{
    list-style-type: none;
    padding: 10px;
}

.joblist li{
    display: block;
    margin-top: 20px;
}

.joblist li i, .joblist li b{
	color:rgba(210,161,58,1.00);
}

.adobelogo{
	padding-left: 20px;
}

.adobelogo img{
	margin-bottom: 10px;
}


/*HireBtn*/

.hirebtn{
    text-decoration: none;
    display: block;
    color: black;
    border: solid 2px grey;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.hirebtn:hover{
    text-decoration: none;
    border: solid 2px black;
    color: black;
}

.toprate{
    text-align: center;
}

.toprate h2{
	color:#D2A13A;
}


/*Whatidobg*/

.whatidobg{
    margin-top: 80px;
    background-color:rgba(237,237,237,1.00);
}

/*Resumebg*/

.btnhoptacpdf ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.btnhoptacpdf ul li{
    display: block;
    float: right;
    margin-left: 10px;
}

.tags{
    font-size: 30px;
    text-align: center;
}


/*My workbg*/

.productlink{
    text-align: center;
    margin-top: 20px;
}

.productlink a {
    text-decoration: none;
    font-size: 12px;
    padding-right: 7px;
    padding-left: 7px;
    color: grey;
}

.productlink a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.productbox{
    height: 300px;
    margin-bottom: 20px;
    
}

.breadcrumb {
    background-color: none !important;
  }

  .opening{
      color: rgba(255,200,141,1.00) !important;
  }

  .pagination > li > a, .pagination > li > span {
    color:black !important;

  }

  .pagination > .active > a{
    background-color: rgba(255,200,141,1.00) !important;
    border-color: #D2A13A !important;
  }

/*Contact me*/

.contactmebanner{
    background-color:rgba(224,224,224,1.00);
    height: 500px;
}

.input{
    background-color: white;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.comment{
    padding-left: 5px;
    padding-top: 8px;
    background-color: white;
    width: 100%;
    border: none;
}

.infoicons{
    margin-left: 20px;
    font-size: 14px;
}

.icons{
    font-size: 15px;
    margin-bottom: 15px;
    color: black;
}

.icons:hover{
    color:#EFB85D;
}

/*Content footer*/

.contentfooter{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Footer*/

.logomxhfooter a{
    color: grey;
    font-size: 30px;
}

.logomxhfooter a:hover{
    text-decoration: none;
    color:#EFB85D;
}

.logomxhfooter a{
    text-decoration: none;
}

.footernavi{
    text-decoration: none;
    color: black;
}

.footernavi:hover{
    text-decoration: none;
    color:#EFB85D;
}





/*Only Large*/
@media (min-width: 1200px){
    
}


/* Only Medium */

@media (min-width: 992px) and (max-width: 1199px){
	.hinhanhabout{
	height: 419px;
	}
	
    .logomxh,.logo{
        width: 250px;
    }
    
    .infoicons{
        font-size: 13px;
    }
    
    .icons{
        font-size: 15px;
    }
}

/* Only Tablet */

@media (min-width: 768px) and (max-width: 991px){
	
	.hinhanhabout{
	height: 379px;
	}
	
  .logomxh,.logo{
        width: 200px;
    }
    
     .infoicons{
        font-size: 12px;
    }
    
    .icons{
        font-size: 14px;
    }
}

/* Only Mobile */

@media (max-width: 767px){
	
	.toprate h2{
	font-size: 18px;
	}
	
	.bannerxs{
		 height: 450px !important;
	}
	
    .comment{
        height: 150px;
    }
    
    .icons{
        font-size: 14px;
    }
    
    .contactmebanner{
    height: 800px;
}
}


@media(max-width: 400px){
	.toprate h2{
		font-size: 13px;
	}
	
	.toprate{
		font-size: 12px;
	}

}

	



















































